html
*.rar
*.bin
*.lst
*.bim
*.gas
*.obj
*.map
*.hrb
*.user
*.vcxproj
*.filters
*.sln
*.db
*.opendb
*.o
.idea
.vs
*.img
*.txt
idea
projects
z_tools
main.cpp
CMakeLists.txt
source/dsctbl.nas
source/graphic.nas
source/bootpack.nas
source/bootpack.hrb
source/vOS.img
source/vOS.sys
kernel/*.o
lib/*.o
